<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Email</td>
        <td>Phone_number</td>
        <td>Major</td>
        <td>Student_Id</td>
    </tr>
    {{#each student}}
    <tr>
        <td>{{Email}}</td>
        <td>{{Phone_number}}</td>
        <td>{{Major}}</td>
        <td>{{Student_Id}}</td>
    </tr>
    {{/each}}
</table>